<%= stylesheet_link_tag "q2" %>

<div class="icon">
</div>

<div class="icon_circle">
</div>

<div class="first_box">
</div>

<div class="second_box">
</div>

<div class="question_box">
   <h1><font color="#ff7473">2</font>/5 <%= @Q2 %> </h1>
   <div class="third_box">
   </div>
</div>

<form action="#" id="form_tag">
	<input type="hidden" name="total_asset_an" value=<%= params[:answer_sheet] %> >
	<label>Year</label>
	<input type="number" min="0" step="1" name="marriage_year" id="marriage_year">
	<input type="submit" id="marriage_year_submit" onclick="GoToNextPage()" value=">>">
</form>

<script>
	function GoToNextPage(){
	    if(document.getElementById("marriage_year").value*1 > 0){
	        document.getElementById("form_tag").action ="/analysis/q3"
	    }
	    else if(!(document.getElementById("marriage_year").value)){
	        alert("응답하지 않으셨습니다.")
	    }
    }
</script>
