
<%= stylesheet_link_tag "index" %>

<div id="banner">

  <div class="content">

      <h2>아름다운 이별</h2>

      <h1>이혼, 우리가 함께합니다</h1>

  </div>

</div>

<div class="actions">

  <a href="#">뭘 넣을지 모르겠다</a>

  <a href="#">준호야 화이팅</a>

  <a href="#">힘냅시다</a>

  <a href="#">광고를 넣을까?</a>

</div>

<div class="business_explanation">

  <h1>열명 중 세명</h1>

  <p> </p>

  <h2>당신도 예외가 아닙니다</h2>

  <h2> </h2>

  <h2> </h2>

</div>

<div id="business"> <!-- TODO 이것도 사진 적절히-->

  <div class="byline">

  <h1>전국 매출 1위 예상</h1>

  </div>

</div>

<div id="logo">

  <div class="content">

    <h1>아름다운 이별, 저희만 믿으십시오</h1>

  </div>

  <div class="logo_image">

    <img src="https://image.lawtimes.co.kr/images/77045.jpg" /> 

    <!-- TODO 회사로고로 바꾸기 -->

  </div>

</div>