body{
  padding-top: 80px;
}/* typography */
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}/* header */
#logo {
  text-transform: uppercase;
  letter-spacing: -1px;
  font-size: 1.7em;
  font-weight: bold;
  &:hover {
    color: #FFFFFF;
    text-decoration: none;
  }
}$red-color: #ff7473;
$yellow-color: #ffc952;
$blue-color: #47b8e0;
$dark-color: #34314c;
#your-answer {
  color: $dark-color;
  padding-bottom: 0.3em;
}#desc {
  padding-top: 0.5em;
  color: $blue-color;
}div {
    overflow: hidden;
    text-overflow: ellipsis;
}li {
  overflow: hidden;
  text-overflow: ellipsis;
}p{
  overflow: hidden;
  text-overflow: ellipsis;
}h2{
  overflow: hidden;
  text-overflow: ellipsis;
}.input-box {
  color: $red-color !important;
  border-color: $red-color;
}.input-box:hover {
  border-color: $red-color;
}.input-list {
  list-style: none;
  padding: 0.5em 0;
  margin-bottom: 0;
}.result-info-list {
    text-align: center;
    padding-left: 0px;
    list-style: none !important;
}.result-item {
  width: 400px;
  margin: 0px;
}.result-button {
  margin: 1em 0;
  padding: 1em;
  background-color: white;
  color: $yellow-color;
  border-color: $yellow-color;
}.result-button:hover {
  background-color: $yellow-color;
  color: white;
}  
.case {
  text-align: left;
}  
